[submodule "botan-slhdsa-signing"]
	path = botan-slhdsa-signing
	url = https://github.com/mrpg/botan-slhdsa-signing.git
[submodule "botan-dilithium-signing"]
	path = botan-dilithium-signing
	url = https://github.com/mrpg/botan-dilithium-signing.git
[submodule "openpgpjs"]
	path = openpgpjs
	url = https://github.com/openpgpjs/openpgpjs.git
